body{
    background-color: rgba(0, 0, 0, 0.377);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    background-color: aliceblue; 
    color: azure;
    position: fixed;
    bottom: 0;
    width: 100% ;
    height: 2rem;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
#container {
    display: flex;
}
.cartao{
    margin: 1rem 1rem;
    background-color: azure;
    height: 20rem;
    flex-grow: 1;

}